.ulNav{
    display: flex;
    list-style: none;
}

.navForm button {
    font-family: Verdana;
    font-size: 1.25rem;
    background-color: rgb(55, 59, 65);
    color: rgb(55, 175, 245);
    outline: grey solid 1px;
    border: 0.1rem solid silver;
    padding: 0.2rem;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    margin: 0.2rem;
}

.navBtn:active{
    color: rgb(32, 34, 37);
    background-color: rgb(53, 151, 207);
    font-weight: bold;
}

.navBtn:hover{
    transform: translate(0, 0.3rem);
}

.navForm button.activeBtn{
    font-family: Verdana;
    font-size: 1.25rem;
    color: rgb(32, 34, 37);
    background-color: rgb(53, 151, 207);
    font-weight: bold;
}

body{
    font-family: Verdana;
    color: rgb(203, 224, 255);
    background-color: rgb(32, 34, 37);
    padding: 0.5rem 2rem;

}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1.3rem;
}

a{
    color: rgb(142, 240, 243);
    font-size: 1.2rem;
}

.taskList{
    font-size: 1.2rem;
}

.propertiesListText{
    font-weight: normal;
    font-size: 1.2rem;
}

.taskBox, .taskStatus{
    font-family: Verdana;
    color: rgb(203, 224, 255);
    background-color: rgb(55, 59, 65);
    font-size: 1.1rem;
    height: 1.5rem;
}

.taskName{
    transform: translateY(0.25rem);
}

.taskStatus{
    transform: translateY(-0.2rem);
}

.taskDate{
    height: 1.5rem;
    width: 9.25rem;
    transform: translateY(-0.32rem);
}

#taskListDisplay li{
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    list-style: decimal;
}

::placeholder{
    font-family: Verdana;
    font-size: 1.1rem;
    color: rgb(203, 224, 255);
    background-color: rgb(55, 59, 65);
    opacity: 70%;
}

.newTaskButton{
    transform: translateY(-0.35rem);
}

.btn{
    font-family: Verdana;
    font-size: 1.0rem;
    background-color: rgb(57, 64, 75);
    color: rgb(55, 175, 245);
    outline: grey solid 1px;
    border: 0.1rem solid silver;
    margin: 0.3rem;
    padding: 0.15rem;
}

.btn:active{
    color: rgb(32, 34, 37);
    background-color: rgb(53, 151, 207);
}

.btn:hover{
    transform: translate(0, 0.1rem);
}

#btnDeleteTask{
    transform: translateY(-0.35rem);
    background-color: maroon;
    margin-left: 0.1rem;
}

#btnSaveTask{
    transform: translateY(-0.35rem);
    margin-right: 0.1rem;
}

#taskListHidden{
    display: none;
}

.newTaskForm{
    margin-top: 1.5rem;
    transform: translateX(2.5rem);
    display: none;
}
/* Contact Form */
/* btn used to uncollapse Add Contact Form */
#btnAddContactCollapser, #btnAddGoodsCollapser{
    font-weight: bold;
}

.formNewContact, .formNewProperty, .formNewGoods{
    margin-top: 0.5rem;
    transform: translateX(2rem);
    display: none;
    overflow: hidden;
}

.inputBox{
    font-family: Verdana;
    font-size: 1rem;
    color: rgb(203, 224, 255);
    background-color: rgb(55, 59, 65);
    margin: 0.1rem 0.5rem 0.1rem 0.5rem;
    padding: 0.2rem;
}

.nameInput{
    transform: translateX(1rem);
    width: 13rem;
}


#roleInputLabel{
    margin-left: 2rem;
}
.roleInput{
    width: 9.2rem;
}

.phoneInput{
    transform: translateX(-0.3rem);
    width: 8.35rem;
    text-align: center;
}

.addressInput{
    width: 28.5rem;
}

/* for contact display forms */
.contactDisplayList{
    list-style: none;
}

.formCurrentContact{
    margin-top: 0.5rem;
    transform: translateX(2rem);
    margin-bottom: 1rem;
}

.formCurrentContact #contactName{
    transform: translateX(1.3rem);
}

.formCurrentContact #contactEmail{
    width: 13.55rem;
}

#btnSaveContact{
    transform: translateX(6rem);
}

#btnDeleteContact{
    transform: translateX(27.2rem);
    background-color: maroon;
}

/* notesBox used for all notes boxes */

.notesBox{
    transform: translateX(1.43rem);
    width: 28.6rem;
    height: 2.3rem;
    text-align: left;
    color: rgb(203, 224, 255);
    font-size: 1.3rem;
    background-color: rgb(55, 59, 65);
    margin: 0.25rem 0.5rem 0.1rem 0.5rem;
    padding: 0.2rem;
    vertical-align: top;
}

#btnAddContact{
    margin-top: 0.5rem;f
    transform: translateX(5.2rem);
}

.contactDisplay{
    font-size: 1.2rem;
}

/* Property Inputs */

#btnAddPropertyCollapser, #btnAddGoodsCollapser{
    font-weight: bold;
    margin-top: 2rem;
}

.propertyNameInput{
    transform: translateX(1.2rem)
}

.propertyValueInput{
    width: 8rem;
}

.propertyStatusInput{
    transform: translateX(1.9rem);
}

option, select {
    font-size: 1.15rem;
    background-color: #373b41;
    color: rgb(203, 224, 255);
    transform: translateX(1.7rem);
}

.propertyDateLabel{
    transform: translateX(2rem);
    text-align: right;
    margin-left: 3rem;
}

.propertyDateInput{
    transform: translateX(1rem);
}

.propertyAddressInput{
    width: 28.5rem;
}

.propertyNotesInput{
    transform: translateX(5.8rem);
}

.propertyDisplayList, .goodsDisplayList {
    list-style-type: none;
}

.propertyDisplayItem, .goodsDisplayItem{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#btnAddProperty{
    margin-top: 0.5rem;
    transform: translateX(9.7rem);
}

#btnSaveProperty, #btnSaveGoods{
    transform: translateX(9.7rem);
}

#btnDeleteProperty, #btnDeleteGoods{
    transform: translateX(21.8rem);
    background-color: maroon;
}

.propertyList{
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

/* Goods Inputs */

.goodsNameInput{
    transform: translateX(3rem);
    width: 11.5rem;
}

.goodsPropertyLabel{
    margin-left: 3rem;
}

.goodsProperty{
    width: 8rem;
}

.goodsAddressInput{
    transform: translateX(0.25rem);
    width: 28.5rem;
}

.goodsNotesInput{
    transform: translateX(5.8rem);
}

#btnAddGoods{
    margin-top: 0.5rem;
    transform: translateX(9.7rem);

}

#btnDeleteGoods{
    transform: translateX(25.7rem);
}

.contactDisplayItem, .goodsDisplayItem{
    display: none;
}